[submodule "blackfish"]
    path = blackfish
    url = git://github.com/F1restorm07/blackfish.git

[submodule "breaker"]
    path = breaker
    url = git://github.com/F1restorm07/breaker.git

[submodule "driftwood"]
    path = driftwood
    url = git://github.com/F1restorm07/driftwood.git

[submodule "harbor"]
	path = harbor
	url = git://github.com/F1restorm07/harbor.git

[submodule "mist"]
	path = mist
	url = git://github.com/F1restorm07/mist.git

[submodule "sonar"]
	path = sonar
	url = git://github.com/F1restorm07/sonar.git

[submodule "squid"]
	path = squid
	url = git://github.com/F1restorm07/squid.git

[submodule "tailfin"]
        path = tailfin
        url = git://github.com/F1restorm07/tailfin.git
